a {
    text-decoration: none;
}

i {
    color: #A1AFC9;
}

p {
    color: #333333;
    font-family: 'Microsoft YaHei';
    font-size: medium;
}

ul {
    clear: both;
}

li {
    list-style-type: none;
}

form {
    clear: both;
}

.pagination {
    clear: both;
}

.navi-item {
    float: left;
    width: 25%;
    background-color: #293150;
}

.navi-item-text {
    color: #A1AFC9;
    text-align: center;
    font-size: medium;
    letter-spacing: 1px;
}

.toolbar_item {
    float: left;
    margin: 5px 10px 5px 0px;
}

.queryset_list {
    clear: both;
}

.no_items {
    clear: both;
    font-size: medium;
}

.detail {
    clear: both;
}

.form-item {
    margin: 3px;
}

.submit {
    margin: 6px;
}

.task_basic_key_item, .task_basic_value_item {
    height: 25px;
}

#navi {
    display: flex;
    align-items: center;
}

#navi-items {
    flex: 1;
    background-color: #293150;
}

#navi-user {
    width: 128px;
    text-align: center;
    background-color: #293150;
}

#navi-user-icon {
    padding: 12px 0px 9px 0px;
}

#login-container {
    text-align: center;
}

#login {
    margin: 0 auto;
    padding: 10%;
}

#toolbar {
    clear: both;
    margin: 5px 0px 5px 0px;
}

#ganttchart {
    clear: both;
}

#task_detail {
    clear: both;
    height: 768px;
}

#task_basic_outside {
    float: left;
    width: 25%;
    height: 100%;
}

#task_basic_inside {
    display: flex;
    flex: 1;
    width: 100%;
}

#task_basic_key {
    width: 25%;
    text-align: right;
}

#task_basic_value {
    width: 25%;
}

#task_description_outside {
    float: left;
    width: 75%;
    height: 100%;
}

#task_description_inside {
    height: 100%;
    padding: 3px 3px 3px 3px;
}