{% extends "main/base.html" %}
{% block body %}
    <div id="login-container" >
        <form id="login" action="{% url 'main:accounts_login_submit' %}" method="post">{% csrf_token %}
            <div class="form-item">
                <span><i class="fa fa-user fa-fw"></i></span>
                <input type="username" name="username" placeholder="username">
            </div>
            <div class="form-item">
                <span><i class="fa fa-key fa-fw"></i></span>
                <input type="password" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
{% endblock %}