{% extends "main/base.html" %}
{% block body %}
<script src="https://code.highcharts.com/gantt/highcharts-gantt.js"></script>
<script src="https://code.highcharts.com/gantt/modules/exporting.js"></script>
<div id="container"></div>
<script>

    // Utility functions
    var dateFormat = Highcharts.dateFormat
    var defined = Highcharts.defined
    var isObject = Highcharts.isObject

    // Set to 00:00:00:000 today
    var today = new Date()
    today.setUTCHours(0)
    today.setUTCMinutes(0)
    today.setUTCSeconds(0)
    today.setUTCMilliseconds(0)
    today = today.getTime()

    var day = 1000 * 60 * 60 * 24

    var seriesObject = JSON.parse('{{ series }}'.replaceAll('&quot;', '"'))

    Highcharts.ganttChart('container', {
        series: seriesObject,
        tooltip: {
            pointFormatter: function () {
                var point = this
                var format = '%e. %b'
                var options = point.options
                var completed = options.completed
                var amount = isObject(completed) ? completed.amount : completed
                var status = ((amount || 0) * 100) + '%'
                var lines

                lines = [
                    {
                        value: point.name,
                        style: 'font-weight: bold'
                    }, {
                        title: 'Start',
                        value: dateFormat(format, point.start)
                    }, {
                        visible: !options.milestone,
                        title: 'End',
                        value: dateFormat(format, point.end)
                    }, {
                        title: 'Completed',
                        value: status
                    }, {
                        title: 'Owner',
                        value: options.owner || 'unassigned'
                    }
                ]

                return lines.reduce(function (str, line) {
                    var s = ''
                    var style = (
                        defined(line.style) ? line.style : 'font-size: 0.8em'
                    )
                    if (line.visible !== false) {
                        s = (
                            '<span style="' + style + '">' +
                            (defined(line.title) ? line.title + ': ' : '') +
                            (defined(line.value) ? line.value : '') +
                            '</span><br/>'
                        )
                    }
                    return str + s
                }, '')
            }
        },
        title: {
            text: 'Gantt Project Management'
        },
        xAxis: {
            currentDateIndicator: true,
            min: today - 3 * day,
            max: today + 18 * day
        }
    })
</script>
{% endblock %}