{% extends "main/base.html" %}
{% block body %}
    {% load static %}
    <script>
        function new_pre_task(pre_task_number) {
            var pre_task = document.createElement("div")
            pre_task.innerHTML = (function () {/*
                <button type='button' onclick="remove_pre_task(this)">Remove</button>
                <select>
                    {% for other_task in other_tasks %}
                        {% if task == other_task %}
                            <option value="{{ other_task }}" selected="selected">{{ other_task }}</option>
                        {% else %}
                            <option value="{{ other_task }}">{{ other_task }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            */}).toString().split("/*")[1].split("*/")[0]
            pre_task.setAttribute("class", "pre_task_item")
            pre_task.children[1].setAttribute("name", "pre_task_".concat(pre_task_number))
            return pre_task
        }

        function append_pre_task(obj) {
            var pre_tasks = obj.parentNode
            var pre_task_number = pre_tasks.children.length
            pre_tasks.insertBefore(new_pre_task(pre_task_number), obj)
        }

        function remove_pre_task(obj) {
            var pre_task = obj.parentNode
            var pre_tasks = pre_task.parentNode
            pre_tasks.removeChild(pre_task)

            for (i = 0; i < pre_tasks.children.length - 1; i++) {
                var pre_task_item = pre_tasks.children[i]
                var e = pre_task_item.children[1]
                var e_old_name = e.getAttribute("name")
                var e_new_name = e_old_name.replace(/pre_task_[0-9]+/, "pre_task_".concat(i))
                e.setAttribute("name", e_new_name)
            }
        }
    </script>
    <form action="{% url 'main:task_create_or_update_submit' %}" method="post">{% csrf_token %}
        <div class="detail">
            <div>Id
                <input type="text" name="id" value="{{ task.id }}" readonly="readonly">
            </div>
            <div>Project:
                <select name="project">
                    <option value="">---------</option>
                    {% for project in projects %}
                        {% if task.project == project %}
                            <option value="{{ project }}" selected="selected">{{ project }}</option>
                        {% else %}
                            <option value="{{ project }}">{{ project }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div>Title:
                <input type="text" name="title" value="{{ task.title|default:'' }}">
            </div>
            <div>Reference:
                <input type="text" name="reference" value="{{ task.reference|default:'' }}">
            </div>
            <div>Milestone:
                <input type="checkbox" name="milestone" {% if task.milestone %} checked="checked" {% endif %}>
            </div>
            <div>Priority:
                <select name="priority">
                    {% for priority_choice in priority_choice_list %}
                        {% if task.priority == priority_choice %}
                            <option value="{{ priority_choice }}" selected="selected">{{ priority_choice }}</option>
                        {% else %}
                            <option value="{{ priority_choice }}">{{ priority_choice }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div>Cost:
                <input type="text" name="cost" value="{{ task.cost|default:'' }}">
            </div>
            <div>Start:
                <input type="text" name="start" value="{{ task.start_yyyy_mm_dd|default:'' }}">
            </div>
            <div>Deadline:
                <input type="text" name="deadline" value="{{ task.deadline_yyyy_mm_dd|default:'' }}">
            </div>
            <div>Assignee:
                <input type="text" name="assignee" value="{{ task.assignee|default:'' }}">
            </div>
            <div>Status:
                <select name="status">
                    {% for status_choice in status_choice_list %}
                        {% if task.status == status_choice %}
                            <option value="{{ status_choice }}" selected="selected">{{ status_choice }}</option>
                        {% else %}
                            <option value="{{ status_choice }}">{{ status_choice }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div>Pre tasks:
                {% if task.pre_tasks %}
                    {% for pre_task in task.pre_tasks %}
                        <div>
                            <button type='button' onclick="remove_pre_task(this)">Remove</button>
                            <select name="pre_task_{{ forloop.counter }}">
                                {% for other_task in other_tasks %}
                                    {% if pre_task == other_task %}
                                        <option value="{{ other_task }}" selected="selected">{{ other_task }}</option>
                                    {% else %}
                                        <option value="{{ other_task }}">{{ other_task }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    {% endfor %}
                {% endif %}
                <button type='button' onclick="append_pre_task(this)">Append</button>
            </div>
        </div>
        <div>Description:
            <textarea name="description" value="{{ task.description|default:'' }}"></textarea>
        </div>
        <div class="submit"><input class="btn btn-default" type="submit" value="Submit"></div>
    </form>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
    <script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
    <script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
    <script >
        var editor = new Editor()
        editor.render()
    </script>
{% endblock %}