{% extends "main/base.html" %}
{% block body %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'node_modules/editor.md/css/editormd.css' %}">
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'node_modules/editor.md/editormd.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            var editor = editormd("editor", {
                height: "100%",
                path: "{% static 'node_modules/editor.md/lib/' %}",
                saveHTMLToTextarea : true,
                onload: function () {
                    editor.getMarkdown()
                    editor.getHTML()
                    editor.getPreviewedHTML()
                }
            })
        })
    </script>
    <script>
        function new_pre_task(pre_task_number) {
            var pre_task = document.createElement("div")
            pre_task.innerHTML = (function () {/*
                <button type='button' onclick="remove_pre_task(this)">Remove</button>
                <select>
                    {% for other_task in other_tasks %}
                        {% if task == other_task %}
                            <option value="{{ other_task }}" selected="selected">{{ other_task }}</option>
                        {% else %}
                            <option value="{{ other_task }}">{{ other_task }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            */}).toString().split("/*")[1].split("*/")[0]
            pre_task.setAttribute("class", "pre_task_item")
            pre_task.children[1].setAttribute("name", "pre_task_".concat(pre_task_number))
            return pre_task
        }

        function append_pre_task(obj) {
            var pre_tasks = obj.parentNode
            var pre_task_number = pre_tasks.children.length
            pre_tasks.insertBefore(new_pre_task(pre_task_number), obj)
        }

        function remove_pre_task(obj) {
            var pre_task = obj.parentNode
            var pre_tasks = pre_task.parentNode
            pre_tasks.removeChild(pre_task)

            for (i = 0; i < pre_tasks.children.length - 1; i++) {
                var pre_task_item = pre_tasks.children[i]
                var e = pre_task_item.children[1]
                var e_old_name = e.getAttribute("name")
                var e_new_name = e_old_name.replace(/pre_task_[0-9]+/, "pre_task_".concat(i))
                e.setAttribute("name", e_new_name)
            }
        }
    </script>
    <form action="{% url 'main:task_create_or_update_submit' %}" method="post">{% csrf_token %}
        <div id="task-detail">
            <div id="task-description-outside">
                <div id="task-description-inside">
                    <div class="editormd" id="editor">
                        <textarea class="editormd-markdown-textarea" name="description">{{ task.description|default:'' }}</textarea>
                        <textarea class="editormd-html-textarea"></textarea>
                    </div>
                </div>
            </div>
            <div id="task-basic-outside">
                <div id="task-basic-inside">
                    <ul>
                        <li class="form-item">
                            <div class="form-item-key">Id</div>
                            <div class="form-item-value"><input type="text" name="id" value="{{ task.id }}" readonly="readonly" placeholder="Don't input!"></div>
                        </li>
                        <li class="form-item">
                            <div class="form-item-key">Project</div>
                            <div class="form-item-value">
                                <select name="project">
                                    {% if specified_project_object %}
                                        <option value="{{ specified_project_object.pk }}" selected="selected">{{ specified_project_object }}</option>
                                    {% else %}
                                        <option value="">---------</option>
                                        {% for project in project_objects %}
                                            <option value="{{ project.pk }}" {% if task.project == project %} selected="selected" {% endif %}>
                                                {{ project }}
                                            </option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </li>
                        <li class="form-item">
                            <div class="form-item-key">Title</div>
                            <div class="form-item-value">
                                <input type="text" name="title" value="{{ task.title|default:'' }}">
                            </div>
                        </li>
                        <li class="form-item">
                            <div class="form-item-key">Reference</div>
                            <div class="form-item-value">
                                <input type="text" name="reference" value="{{ task.reference|default:'' }}" placeholder="http://...">
                            </div>
                        </li>
                        <li class="form-item">
                            <div class="form-item-key">Milestone</div>
                            <div class="form-item-value">
                                <input type="checkbox" name="milestone" {% if task.milestone %} checked="checked" {% endif %}>
                            </div>
                        </li>
                        <li class="form-item">
                            <div class="form-item-key">Priority</div>
                            <div class="form-item-value">
                                <select name="priority">
                                    {% for priority_choice_int, priority_choice_str in priority_choice_tuple_list %}
                                        <option value="{{ priority_choice_int }}" {% if task.priority == priority_choice_int %} selected="selected" {% endif %}>
                                            {{ priority_choice_str }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </li>
                        <li class="form-item">
                            <div class="form-item-key">Cost</div>
                            <div class="form-item-value">
                                <input type="text" name="cost" value="{{ task.cost|default:'' }}" placeholder="Unit: 0.5 day">
                            </div>
                        </li>
                        <li class="form-item">
                            <div class="form-item-key">Start</div>
                            <div class="form-item-value">
                                <input type="text" name="start" value="{{ task.start_timestr_yyyy_mm_dd|default:'' }}" placeholder="1970-01-01 1/2">
                            </div>
                        </li>
                        <li class="form-item">
                            <div class="form-item-key">Deadline</div>
                            <div class="form-item-value">
                                <input type="text" name="deadline" value="{{ task.deadline_timestr_yyyy_mm_dd|default:'' }}" placeholder="1970-01-01 1/2">
                            </div>
                        </li>
                        <li class="form-item">
                            <div class="form-item-key">User</div>
                            <div class="form-item-value">
                                <select name="user">
                                    <option value="">---------</option>
                                    {% for user in user_objects %}
                                        {% if user == task.user %}
                                            <option value="{{ user.pk }}" selected="selected">{{ user }}</option>
                                        {% elif user == request_user %}
                                            <option value="{{ user.pk }}" selected="selected">{{ user }}</option>
                                        {% else %}
                                            <option value="{{ user.pk }}">{{ user }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </li>
                        <li class="form-item">
                            <div class="form-item-key">Status</div>
                            <div class="form-item-value">
                                <select name="status">
                                    {% for status_choice_int, status_choice_str in status_choice_tuple_list %}
                                        <option value="{{ status_choice_int }}" {% if task.status == status_choice_int %} selected="selected" {% endif %}>
                                            {{ status_choice_str }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </li>
                        <li class="form-item">
                            <div class="form-item-key">Pre tasks</div>
                            <div class="form-item-value">
                                {% if task.pre_tasks %}
                                    {% for pre_task in task.pre_tasks %}
                                        <div>
                                            <button type='button' onclick="remove_pre_task(this)">Remove</button>
                                            <select name="pre_task_{{ forloop.counter }}">
                                                {% for other_task in other_tasks %}
                                                    <option value="{{ other_task }}" {% if pre_task == other_task %} selected="selected" {% endif %}>
                                                        {{ other_task }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <button type='button' onclick="append_pre_task(this)">Append</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="submit"><input class="btn btn-default" type="submit" value="Submit"></div>
    </form>
{% endblock %}