{% extends "main/base.html" %}
{% block body %}
    <div id="toolbar">
        <div class="toolbar_item">
            <a href="{{ task.pk }}/delete"><button>Delete</button></a>
        </div>
        <div class="toolbar_item">
            <a href="{{ task.pk }}/update"><button>Update</button></a>
        </div>
    </div>
    <div class="detail">
        <p>Id: {{ task.id }}</p>
        <p>Project: {{ task.project }}</p>
        <p>Title: {{ task.title }}</p>
        <p>Description: {{ task.description }}</p>
        <p>Reference: {{ task.reference }}</p>
        <p>Priority: {{ task.priority }}</p>
        <p>Cost: {{ task.cost }}</p>
        <p>Start: {{ task.start_yyyy_mm_dd }}</p>
        <p>Deadline: {{ task.deadline_yyyy_mm_dd }}</p>
        <p>Assignee: {{ task.assignee }}</p>
        <p>Status: {{ task.status }}</p>
    </div>
{% endblock %}